<!DOCTYPE html>
<html lang="en">
<head>
	<title>CmsShoppingCart</title>
	<meta charset="utf-8" />
	<meta name="description" content="Online Shopping Website" />
	<meta name="keywords" content="online,shop,products" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta property="og:locale" content="en_US" />
	<meta property="og:type" content="article" />
	<meta property="og:site_name" content="CmsShoppingCart" />

	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<!--begin::Fonts(mandatory for all pages)-->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700" />       
	<!--end::Fonts-->
	<!--begin::Vendor Stylesheets(used for this page only)-->
	<link href="~/metronic/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" type="text/css" />
	<!--end::Vendor Stylesheets-->
	<!--begin::Global Stylesheets Bundle(mandatory for all pages)-->
	<link href="~/metronic/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/metronic/css/style.bundle.css" rel="stylesheet" type="text/css" />
	<!--end::Global Stylesheets Bundle-->
	<!--begin::Google tag-->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-37564768-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());
		gtag('config', 'UA-37564768-1');
	</script>
	<!--end::Google tag-->
	<script>
		// Frame-busting to prevent site from being loaded within a frame without permission (click-jacking)
		if (window.top != window.self) {
			window.top.location.replace(window.self.location.href);
		}
	</script>
</head>
<!--end::Head-->
<!--begin::Body-->
<body id="kt_app_body" data-kt-app-layout="dark-sidebar" data-kt-app-header-fixed="true" data-kt-app-sidebar-enabled="true" data-kt-app-sidebar-fixed="true" data-kt-app-sidebar-hoverable="true" data-kt-app-sidebar-push-header="true" data-kt-app-sidebar-push-toolbar="true" data-kt-app-sidebar-push-footer="true" data-kt-app-toolbar-enabled="true" class="app-default">


	<div class="d-flex flex-column flex-root app-root" id="kt_app_root">
		<div class="app-page  flex-column flex-column-fluid " id="kt_app_page">
			<div class="app-wrapper  flex-column flex-row-fluid " id="kt_app_wrapper">
				<partial name="_SideBar" />
				<partial name="_Header" />
			</div>
		</div>
	</div>


	<div class="container">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>

	@*
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>*@

	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
