@model IEnumerable<Category>

@{
    ViewData["Title"] = "Categories";
}
<div class="container" style="position: absolute; top: 100px">

<h1 class="col-md-4 offset-md-2">Categories</h1>

<p>
    <a asp-action="Create" class="col-md-4 offset-md-2">Create New</a>
</p>
    <table class="table sorting col-md-4 offset-md-2" style="border: 2px solid black; text-align: center" id="categories">
        <thead style="color: #fff;padding: 8px; background-color: #888; border: 2px solid black">
        <tr>
            <th>
                Name
            </th>
            <th>
                Slug
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody style=" border: 2px solid black; padding: 8px">
    @foreach (var item in Model) {
        <tr id="id_@item.Id">
            <td>
                @item.Name
            </td>
            <td>
                @item.Slug
            </td>
            <td>
                        <a class="edit" asp-action="Edit" asp-route-id="@item.Id">
                            <i class="fas fa-edit"></i>
                        </a>|
                        <a class="confirmDeletion" asp-action="Delete" asp-route-id="@item.Id">
                            <i class="fas fa-trash"></i>
                        </a>
                        
             </td>
        </tr>
}
    </tbody>
    </table>
</div>

@section Scripts {
    <script>
      $("table#categories tbody").sortable({
          items: "tr:not(.home)",
          placeholder: "ui-state-highlight",
          update: function(){
              let ids = $("table#categories tbody").sortable("serialize");
                let url = "/admin/categories/reorder";

              $.post(url, ids, function() {});
          }
      })
        $(function () {
            if ($("a.confirmDeletion").length) {
                $("a.confirmDeletion").click(() => {
                    if (!confirm("Confirm deletion")) return false;
                });
            }
            if ($("div.alert.notification").length) {
                setTimeout(() => {
                    $("div.alert.notification").fadeOut();
                }, 2000);
            }
        });
    </script>
}